<div class="row">
    <table class="table">
        <thead> 
            <tr>
                <th style="width: 30%; font-weight: bold;">UserName</th>
                <th style="width: 40%; font-weight: bold;">Roles</th>
                <th style="width: 30%; font-weight: bold;"></th>
            </tr>
        </thead>
        

        <tbody>
            <tr *ngFor="let user of users">
            <td>{{user.UserName}}</td>
            <td>[{{user.Roles}}]</td>
            <td><button class="btn btn-info" (click)="openRolesModal(user)">Edit Role</button></td>
            </tr>
        </tbody>
    </table>
</div>