<!-- Reactive Form -->
<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid&& Register()" autocomplete="off">
    <h2 class="text-center text-primary">SignUp</h2>
    <hr>

<div class="mb-2">
    <label style="margin-right: 10px;">I am a: </label>

    <label class="form-check-label me-3">
        <input type="radio"  class="form-check-input me-1" value="Male" formControlName="Gender">Male
    </label>

    <label class="form-check-label">
        <input type="radio"  class="form-check-input" value="Female" formControlName="Gender">Female
    </label>
</div>


<app-text-input [formControl]="$any(registerForm.controls['UserName'])" [label]="'UserName'"></app-text-input>
<app-text-input [formControl]="$any(registerForm.controls['KnownAs'])" [label]="'KnownAs'"></app-text-input>
<app-date-picker [maxDate]="maxDate" [formControl]="$any(registerForm.controls['DateOfBirth'])" [label]="'Date Of Bith'"></app-date-picker>
<app-text-input [formControl]="$any(registerForm.controls['City'])" [label]="'City'"></app-text-input>
<app-text-input [formControl]="$any(registerForm.controls['Country'])" [label]="'Country'"></app-text-input>
<app-text-input [formControl]="$any(registerForm.controls['Password'])" [label]="'Password'" [type]="'password'"></app-text-input>
<app-text-input [formControl]="$any(registerForm.controls['ConfirmPassword'])" [label]="'ConfirmPassword'" [type]="'password'"></app-text-input>
  

<div class="row" *ngIf="validationErrors">
<ul class="text-danger">
    <li *ngFor="let error of validationErrors">
    {{error}}</li>
</ul></div>

    <div class="text-center">
        <button class="btn btn-success me-2"[disabled]="!registerForm.valid"e="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="Cancel()">Cancel</button>
    </div>
    
    </form>

















    <!-- reactive forms local -->
<!--   <div class="mb-3">
        <input type="text"
        [class.is-invalid]="registerForm.get('UserName')?.errors&& registerForm.get('UserName')?.touched"
         class="form-control"
         formControlName="UserName"
         placeholder="UserName"
        >
        <div class="invalid-feedback" >Fill UserName Field</div>
    </div> 
   
    
    
      <div class="mb-3">
        <input type="password"
        [class.is-invalid]="registerForm.get('Password')?.errors&&registerForm.get('Password')?.touched"
         class="form-control"
      formControlName="Password"
         placeholder="Password"
        >
    

<div class="invalid-feedback" *ngIf="registerForm.get('Password')?.hasError('required')">Fill Password Field</div>
<div class="invalid-feedback" *ngIf="registerForm.get('Password')?.hasError('maxlength')">Password Should be at Most 15 Characters</div>
<div class="invalid-feedback" *ngIf="registerForm.get('Password')?.hasError('minlength')">Password Must be Atleast 6 characters</div>
</div>


    <div class="mb-3">
        <input type="password"
        [class.is-invalid]="registerForm.get('ConfirmPassword')?.errors&& registerForm.get('ConfirmPassword')?.touched"
        class="form-control"
         formControlName="ConfirmPassword"
         placeholder=" Confirm Password"
        >
   
    
    <div class="invalid-feedback" *ngIf="registerForm.get('ConfirmPassword')?.hasError('required')">Fill Confirm Password Field</div>
<div class="invalid-feedback" *ngIf="registerForm.get('ConfirmPassword')?.hasError('notMatching')&&!registerForm.get('ConfirmPassword')?.hasError('required')">ConfirmPassword Not Matching</div>
</div> -->

















<!-- Simple Form -->
<!-- <form #RegisterForm="ngForm" (ngSubmit)="Register()" autocomplete="off">
<h2 class="text-center text-primary">SignUp</h2>
<hr>
<div class="mb-3">
    <input type="text"
     class="form-control"
     name="UserName"
     [(ngModel)]="Model.UserName"
     placeholder="UserName"
    >
</div> 


  <div class="mb-3">
    <input type="password"
     class="form-control"
     name="Password"
     [(ngModel)]="Model.Password"
     placeholder="Password"
    >
</div>

<div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="Cancel()">Cancel</button>
</div>

</form> -->