 <div class="row">
    <div class="col-4">
        <div class="card ">
            <img src="{{member.PhotoUrl || './assets/user.png'}}" alt="{{member.KnownAs}}"
                class="card-img-top img-thumbnail">

            <div class="card-body">
                <div class="mb-2 text-success" *ngIf="(presenceService.onlineUsers$|async)?.includes(member.UserName)">
                <i class="class fa fa-user-circle "></i> Online Now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.City}}, {{member.Country}}</p>
                </div>

                <div>
                    <strong>Age:</strong>
                    <p>{{member.Age}}</p>
                </div>

                <div>
                    <strong>Last active:</strong>
                    <p>{{member.LastActive| timeago}}</p>
                </div>

                <div>
                    <strong>Member Since</strong>
                    <p>{{member.Created|date}}</p>
                </div>

                <div>
                    <strong>Location:</strong>
                    <p>{{member.City}}, {{member.Country}}</p>
                </div>

            </div>

            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="AddLike(member)">Like</button>
                    <button class="btn btn-success" (click)="selectTab('Messages')">Messages</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabs" #memberTabs>

            <tab heading="About {{member.KnownAs}}" (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.Introduction}}</p>

                <h4>Looking For</h4>
                <p>{{member.LookingFor}}</p>
            </tab>

            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{member.Interests}}</p>
            </tab>

            <tab heading="Photos" (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>

            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [memberUserName]="member.UserName"></app-member-messages>
            </tab>

        </tabset>
    </div>

</div> 