<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

      <ul  class="navbar-nav me-auto mb-2 mb-md-0" >
      <ng-container *ngIf="accountService.CurrentUser$|async" > 
  
     
          <li class="nav-item">
          <a class="nav-link " routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/messages" routerLinkActive="active">Masseges</a>
        </li>
</ng-container>
<li class="nav-item">
  <a class="nav-link " routerLink="/error" routerLinkActive="active">Errors</a>
</li>
</ul>
      

        <div class="dropdown" *ngIf="(accountService.CurrentUser$|async) as user" dropdown>
          <a  class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.UserName|titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" (click)="LogOut()">LogOut</a>
          </div></div>


        <form *ngIf="!(accountService.CurrentUser$|async)" #ngLoginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input  name="UserName" [(ngModel)]="model.UserName" class="form-control me-2" type="text" placeholder="UserName" aria-label="Search">
          <input name="Password" [(ngModel)]="model.Password" class="form-control me-2" type="password" placeholder="Password" aria-label="Search">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
    <!-- </div> -->
  </nav>