.dropdown-toggle,.dropdown-item{
    cursor: pointer;
}


img {
    max-height: 40px;
    max-width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline;
}
img.rounded-profile-pic {
    max-height: 40px;
    max-width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 8px; /* Adjust the margin as needed */
}

a.dropdown-toggle {
    margin-right: 8px; /* Adjust the margin as needed */
}


.gradient-background {
    background: linear-gradient(to right, #a34e4e, #80add7); /* Adjust colors as needed */
  }