<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary ">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.CurrentUser$|async">

        <li class="nav-item">
          <a class="nav-link " routerLink="/members" [routerLinkActiveOptions]="{exact:true}"
            routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " routerLink="/messages" routerLinkActive="active">Masseges
          <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
            10
          </span></a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/messages" routerLinkActive="active">
            Masseges
            <span class="badge position-absolute top-1 start-80 translate-middle" style="color: rgba(41, 147, 15, 0.801); font-size: 1.0em;  letter-spacing: -0.05em">
             
              {{
               ((messageService.unReadMessages | async)!.length >= 50 ? '50+' 
               : (( messageService.unReadMessages | async)!.length || '')) }}
            </span>
          </a>
        </li>


        <li *appHasRole="['Admin','Moderator']" class="nav-item">
          <a class="nav-link " routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ng-container>


      <li class="nav-item">
        <a class="nav-link " routerLink="/error" routerLinkActive="active">Errors</a>
      </li>
    </ul>


    <div class="dropdown" *ngIf="(accountService.CurrentUser$|async) as user" dropdown>
      <img class="rounded-profile-pic" src="{{user.PhotoUrl || './assets/user.png'}}">
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.KnownAs}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="LogOut()">LogOut</a>
      </div>
    </div>


    <form *ngIf="!(accountService.CurrentUser$|async)" #ngLoginForm="ngForm" class="d-flex" (ngSubmit)="login()"
      autocomplete="off">
      <input name="UserName" [(ngModel)]="model.UserName" class="form-control me-2" type="text" placeholder="UserName"
        aria-label="Search">
      <input name="Password" [(ngModel)]="model.Password" class="form-control me-2" type="password"
        placeholder="Password" aria-label="Search">
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
  <!-- </div> -->
</nav>