<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <!-- alert box -->
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editform.dirty">
            <p><strong>Information:</strong>You havee made changes. Any Unsaved Changes will be lost</p>
        </div>

    </div>


    <div class="col-4">
        <div class="card">
            <img src="{{member.PhotoUrl || './assets/user.png'}}" alt="{{member.KnownAs}}"
                class="card-img-top img-thumbnail">

            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.City}}, {{member.Country}}</p>
                </div>

                <div>
                    <strong>Age:</strong>
                    <p>{{member.Age}}</p>
                </div>

                <div>
                    <strong>Last active:</strong>
                    <p>{{member.LastActive+'z'|timeago}}</p>
                </div>

                <div>
                    <strong>member Since</strong>
                    <p>{{member.Created|date}}</p>
                </div>

                <div>
                    <strong>Location:</strong>
                    <p>{{member.City}}, {{member.Country}}</p>
                </div>

            </div>

            <div class="card-footer">
                <button class="btn btn-success col-12" [disabled]="!editform.dirty" form="editform">Save
                    Changes</button>

            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset">

            <tab heading="About {{member.KnownAs}}">
                <form #editform="ngForm" id="editform" (ngSubmit)="updateMember()" [autocomplete]="false">
                    <h4 class="mt-4">Description</h4>
                    <textarea name="Introduction" class="form-control" rows="6"
                        [(ngModel)]="member.Introduction"></textarea>


                    <h4 class="mt-4">Looking For</h4>
                    <textarea name="LookingFor" class="form-control" rows="6"
                        [(ngModel)]="member.LookingFor"></textarea>

                    <h4 class="mt-4">Interests</h4>
                    <textarea name="Interests" class="form-control" rows="6" [(ngModel)]="member.Interests"></textarea>

                    <h4 class="mt-2">Location Details</h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="city">City:</label>
                        <input type="text" name="city" class="form-control mx-2" [(ngModel)]="member.City" id="city">
                        <label for="country">Country:</label>
                        <input type="text" name="country" class="form-control mx-2" [(ngModel)]="member.Country"
                            id="country">
                    </div>



                </form>
            </tab>

            <tab heading="Edit Photos">
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>



        </tabset>
    </div>

</div>