<div class="card mb-4" *ngIf="member">
    <div class="card-img-wrapper">
        <img src="{{member.PhotoUrl || './assets/user.png'}}" alt="{{member.KnownAs}}" class="card-img-top">
        <ul class="list-inline text-center animate member-icons">
            <li class="list-inline-item">
                <button class="btn btn-primary" (click)="ProfileIconClick(member.UserName)"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
                <button (click)="AddLike(member)" class="btn btn-primary"><i class="fa fa-heart"></i></button>
            </li>
            <li class="list-inline-item">
                <button routerLink="/members/{{member.UserName}}" [queryParams]="{tab:'Messages'}" class="btn btn-primary"><i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>
    
    <div class="card-body p-1">
       
        <h6 class="card-title text-center mb-1">
            
           
           
            <span [ngClass]="{'icon-green-color': (presenceService.onlineUsers$ | async)?.includes(member.UserName)}">
                <i class="fa fa-user me-2"></i>
            </span>
            
            {{member.KnownAs}}, {{member.Age}}
        </h6>
        <p class="card-text text-muted text-center">
          From: {{member.City}}
        </p>
    </div>
</div>
 