<div class="mb-4 d-flex">
    <div class="btn-group" name="queryParams.Container">
        <button class="btn btn-primary" btnRadio="UnRead" [(ngModel)]="queryParams.Container">
            <i class="fa fa-envelope"></i> UnRead</button>

        <button class="btn btn-primary" btnRadio="InBox" [(ngModel)]="queryParams.Container" (click)="loadMessages()">
            <i class="fa fa-envelope-open"></i> InBox</button>

        <button class="btn btn-primary" btnRadio="OutBox" [(ngModel)]="queryParams.Container" (click)="loadMessages()">
            <i class="fa fa-paper-plane"></i> OutBox</button>
    </div>
</div>




<div *ngIf="queryParams.Container!=='UnRead'">
    <div class="row" *ngIf="(!messages||messages.length===0)">
        <h3>No Messages
        </h3>
    </div>

    <div class="row" *ngIf="messages&&messages.length>0">

        <table class="table table-hover" style="cursor: pointer;">
    
            <thead>
                <tr>
                    <td style="width: 40%;">Messages</td>
    
                    <td style="width: 20%;" *ngIf="queryParams.Container!=='OutBox'">From</td>
                    <td style="width: 20%;" *ngIf="queryParams.Container==='OutBox'">To</td>
    
                    <td style="width: 20%;" *ngIf="queryParams.Container!=='OutBox'">Recieved</td>
                    <td style="width: 20%;" *ngIf="queryParams.Container==='OutBox'">Sent</td>
    
                    <td style="width: 20%;"></td>
                </tr>
            </thead>
    
         
    
    
            <tbody class="align-middle">
                <tr
                *ngFor="let message of messages"
                 [hidden]="loading"
                 routerLink="{{queryParams.Container==='OutBox'?
                 '/members/'+message.RecipientUserName
                 :'/members/'+message.SenderUserName }}" [queryParams]="{tab:'Messages'}">
    
    
                    <td>{{message.Content}}</td>
    
                    <td>
    
                        <div *ngIf="queryParams.Container==='OutBox'">
                            <img class="img-circle rounded-circle me-2"
                                src="{{message.RecipientPhotoUrl||'./assets/user.png'}}" alt="RecipientPhoto">
                            <strong>{{message.RecipientUserName|titlecase}}</strong>
                        </div>
    
                        <div *ngIf="queryParams.Container==='InBox'">
                            <img class="img-circle rounded-circle me-2"
                                src="{{message.SenderPhotourl||'./assets/user.png'}}" alt="SenderPhoto">
                            <strong>{{message.SenderUserName|titlecase}}</strong>
    
                        </div>
    
                    </td>
                    <td>{{message.MessageSent|timeago}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="$event.stopPropagation()"
                            (click)="deleteMessage(message.Id,false)">Delete</button>
                    </td>
    
                </tr>
    
    
    
            </tbody>
        </table>
    
    </div>
</div>






 
<div *ngIf=" queryParams.Container==='UnRead'">
    <div class="row" *ngIf="((messageService.unReadMessages| async)!.length ===0)">
        <h3>No Unread Messages
        </h3>
    </div>




    <div class="row" *ngIf="((messageService.unReadMessages| async)!.length >0)">

        <table class="table table-hover" style="cursor: pointer;">
    
            <thead>
                <tr>
                    <td style="width: 40%;">Messages</td>
    
                    <td style="width: 20%;" >From</td>
                   
    
                    <td style="width: 20%;" >Recieved</td>
                  
    
                    <td style="width: 20%;"></td>
                </tr>
            </thead>
    
            <tbody class="align-middle" >
                <tr 
                [hidden]="loading" 
                *ngFor="let message of (messageService.unReadMessages| async)" 
                routerLink="{{'/members/'+message.SenderUserName }}"
                    [queryParams]="{tab:'Messages'}">
    
    
                    <td>{{message.Content}}</td>
    
                    <td>
    
    
    
                        <div>
                            <img class="img-circle rounded-circle me-2"
                                src="{{message.SenderPhotourl||'./assets/user.png'}}" alt="SenderPhoto">
                            <strong>{{message.SenderUserName|titlecase}}</strong>
    
                        </div>
    
                    </td>
                    <td>{{message.MessageSent|timeago}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="$event.stopPropagation()"
                            (click)="deleteMessage(message.Id,true)">Delete</button>
                    </td>
    
                </tr>
            </tbody>
    
    
        </table>
    
    </div>
</div>



 



<div class="d-flex justify-content-center align-items-end pagination-container"
    *ngIf="queryParams.Container!=='UnRead'&&!loading&& pagination&&messages &&messages.length>0">
    <pagination [totalItems]="pagination.TotalItems" [itemsPerPage]="pagination.ItemsPerPage" [maxSize]="10"
        [(ngModel)]="pagination.CurrentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>