/* .card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.rounded-circle {
    max-height: 50px;
} */




.chat-img{
    margin-right: 5px;
    margin-left: 5px;
}



.card {
    border: none;
  }
  
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
  }
  
  .rounded-circle {
    max-height: 50px;
  }
  
  .sent {
    text-align: right;
  }
  
  .received {
    text-align: left;
  }
  
  .float-end {
    float: right;
  }
  
  .float-start {
    float: left;
  }
  