<div class="card">

  <div class="card-body">

    <div *ngIf="(messageService.messagesThread$|async)?.length===0">No Massages yet... say Hi by using the message box
      below </div>



      <ul
      #ScrollMe
      style="overflow: scroll; height: 500px"
      [scrollTop]="ScrollMe.scrollHeight"
       class="chat" *ngIf="(messageService.messagesThread$ | async)!.length > 0">
        <li *ngFor="let message of (messageService.messagesThread$ | async)"
          [ngClass]="{
            'sent': message.SenderUserName !== memberUserName,
            'received': message.SenderUserName === memberUserName
          }">
          
          <div>
            <span class="chat-img "
              [ngClass]="{'float-end': message.SenderUserName !== memberUserName, 'float-start': message.SenderUserName === memberUserName}">
              <img src="{{message.SenderPhotourl || './assets/user.png'}}" alt="image of user" class="rounded-circle">
            </span>
            <!-- Rest of your message content -->
            <div class="chat-body">
              <div class="header">
                <small class="text-muted">
                  <span class="fa fa-clock-o">{{message.MessageSent|timeago}}</span>
                  <span class="text-danger"
                    *ngIf="!message.DateRead&&message.SenderUserName!==memberUserName">(Unread)</span>
                  <span class="text-info" *ngIf="message.DateRead&&message.SenderUserName!==memberUserName"> (Read
                    {{message.DateRead|timeago}})</span>
  
                </small>
              </div>
  
              <p>{{message.Content}}</p>
  
            </div>
          </div>
        </li>
      </ul>


    



  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input type="text" name="messageContent" class="form-control input-sm" [(ngModel)]="messageContent" required
          placeholder="Send a Private Message">

        <div class="input-group-append">
          <button class="btn btn-primary ms-2" [disabled]="!messageContent" type="submit">Send</button>
        </div>
      </div>
    </form>
   
  </div>
 
</div>